.vscode/**
.vscode-test/**
out/test/**
src/**
notebooks/test/**
docs/images/**

.gitignore
.github

webpack.config.js
node_modules

**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsbuildinfo
**/tsconfig.json

data/superstore.arrow
data/superstore.schema.json
data/world-cities.geojson
data/world-gdp.csv
data/world-gdp.xml
data/world-lakes.geojson
data/world-rivers.geojson
