.data-table {
  max-width: 100%;
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-panel-border);
}

.data-table form {
  margin: 0px !important;
}

tbody tr:hover {
  box-shadow: inset 0 0 1500px 100px rgba(255, 255, 255, 0.1);
}

.vscode-light tbody tr:hover {
  box-shadow: inset 0 0 1500px 100px rgba(0, 0, 0, 0.1);
}

.data-table form table thead th {
  background-color: var(--vscode-editor-background) !important;
}

thead th span {
  /* Sorting triangle symbol in table header */
  margin-left: 0 !important;
  padding-right: 0.4rem;
}

thead th {
  box-shadow: 0 1px 0 var(--vscode-panel-border) !important;
}

th {
  text-align: left !important;
}

