.data-table {
  max-width: 100%;
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-panel-border);
}

.data-table form {
  margin: 0px !important;
}

.data-table form table thead th {
  background-color: var(--vscode-editor-background) !important;
}

thead th {
  box-shadow: 0 1px 0 var(--vscode-panel-border) !important;
}

th {
  text-align: left !important;
}

th, td {
  border: 1px solid var(--vscode-panel-border) !important;
}

th:first-child,
td:first-child {
  border-left: none !important;
}
th {
  border-top: none !important;
}